<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zc.dem.syndata.taskresult.dao.TaskResultDAO" >
	<resultMap id="TaskResultMap" type="com.zc.dem.syndata.taskresult.bean.TaskResultBean" >
		<id column="task_id" property="taskID" jdbcType="VARCHAR" />
		<result column="task_name" property="taskName" jdbcType="VARCHAR" />
		<result column="task_type" property="taskType" jdbcType="INTEGER" />
		<result column="task_result" property="taskResult" jdbcType="INTEGER" />
		<result column="task_exestart_time" property="taskExecStartTime" jdbcType="TIMESTAMP" />
		<result column="task_exestop_time" property="taskExecStopTime" jdbcType="TIMESTAMP" />
		<result column="task_content_type" property="taskContentType" jdbcType="INTEGER" />
		<result column="reserve0" property="reserve0" jdbcType="VARCHAR" />
		<result column="reserve1" property="reserve1" jdbcType="VARCHAR" />
		<result column="reserve2" property="reserve2" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="getAllSql">
  		SELECT * FROM PIVAS_TASK_RESULT_syn where <![CDATA[  TASK_CONTENT_TYPE <> 99 ]]>
 	</sql>
  
 <select id="queryAll" resultMap="TaskResultMap">
  	<include refid="getAllSql"/>
  </select>
  
  <delete id="deleteAll" >
  	delete from PIVAS_TASK_RESULT_syn
  </delete>
  
</mapper>