<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zc.synhis.dao.MedicamentsByHisDao">
	
	<select id="qryMedicamentList" resultType="com.zc.dem.syndata.medicaments.entity.Medicaments">
		select Drug_Code as medicamentsCode, 
			 Drug_Name as medicamentsName,
			 Specifications as medicamentsSpecifications,
			 Drug_Use_One_Dosage as medicamentsDosage,
			 Drug_Use_One_Dosage_Unit as medicamentsDosageUnit,
			 Pinyin_Code as medicamentsSuchama,
			 Drug_Volume as medicamentsVolume,
			 Drug_Volume_Unit as medicamentsVolumeUnit,
			 Drug_Packing_Unit as medicamentsPackingUnit,
			 Skin_Test_Flag as medicamentsTestFlag,
			 Shelf_No as shelfNo,
			 Drug_Place as medicamentsPlace,
			 Drug_Place_Code as medicamentsPlaceCode,
			 price as medicamentsPrice,
			 High_risk as medicamentsDanger,
			 phyfunctiy
		from v_pivas_drugdict_new
	</select>
</mapper>